$dark: #4a4a4a;
$bD: #d2d1ce;
$bL: #d8d8d8;
$fD: #302929;
$fL: #faeeee;
$btnD: #6c6464;
body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    min-width: 1000px;
}


/* 背景 */

.bgDark {
    background: $dark;
}

.bgDarkBrown {
    background: $bD;
}

.bgLightBrown {
    background: $bL;
}


/* 字体颜色 */

.fontDark {
    color: $fD;
}

.fontLight {
    color: $fL;
}


/* 按钮颜色 */

.btnDark {
    background: $btnD;
}